[Unit]
Description=keepalived-exporter
Documentation=keepalived-exporter
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/keepalived-exporter

[Install]
WantedBy=multi-user.target
